.chatBox-container{
  display:flex;
  flex: 1;
  flex-direction: column;

}

.bottom-chat-actions{
  display: flex;
  gap: 5px;
}

.chatBox-content{
  padding: 10px;
  height: 100vh;
  margin-top: auto;
  overflow: scroll;
}
